<head><%- include('partials/head.ejs', { pageHeading }) %></head>
<body>
  <header><%- include('partials/heading-1.ejs', { pageHeading }) %></header>
  <main>
      <a href=<%= login %>>Log in with Steam</a>
  </main>
</body>
<footer><%- include('partials/copyright-notice.ejs') %></footer>
